[submodule "external/fsst"]
	path = external/fsst
	url = https://github.com/cwida/fsst
[submodule "external/onpair"]
	path = external/onpair
	url = https://github.com/gargiulofrancesco/onpair_cpp
[submodule "external/lz4"]
	path = external/lz4
	url = https://github.com/lz4/lz4.git
[submodule "external/duckdb"]
	path = external/duckdb
	url = https://github.com/duckdb/duckdb.git
